<div class="card content-body">
  <div class="card-body">
    <h5 class="card-title">{{algoritmo.nombre}}</h5>

  </div>

  <div class="dropdown-divider"></div>

  <div>
    <h3 class="text-center">Datos para el Algoritmo</h3>

    <div class="content-body text-center">

      <div class="form-row">

        <div class="form-group col-md-3">
          <label for="exampleFormControlSelect1">Argumentos del algoritmo</label>
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="algoritmo.datos">
              <option *ngFor="let input of inputs;let i = index" [ngValue]="input">{{input}}</option>
          </select>
      </div>

      <div class="form-group col-md-3">
        <label for="inputState">Tipo de Datos</label>
        <select id="inputState" class="form-control" [(ngModel)]="algoritmo.tipo_datos">
            <option *ngFor="let tipo of tipos; let i = index" [ngValue]="tipo">{{tipo}}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="inputZip">Valor Maximo</label>
        <input type="number" class="form-control" id="inputZip" [(ngModel)]="algoritmo.max">
      </div>
      <div class="form-group col-md-3">
        <label for="inputT">Tamaño de los Datos</label>
        <input type="number" class="form-control" id="inputT" [(ngModel)]="algoritmo.cantidad">
      </div>
        </div>
        <br>
      <div>
        <h3>Deberia incluir en su codigo un snippet como el siguiente:</h3>
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Snippet</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="snippet"></textarea>
          </div>
      </div>
      <!--h4 class="text-center card btn" (click)="visibilidadM()">Ver Matriz {{matrix.length}} * {{matrix[0].length}}</h4>
      <div *ngIf="visibilidadMatrix">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" *ngFor="let i of matrixN; let indice = index">{{indice}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of matrixM; let j = index">
              <th scope="row">{{j}}</th>
              <td *ngFor="let element of matrix[j]">{{element}}</td>
            </tr>
          </tbody>
        </table>
        <div id="myDiv" style="width:100%;height:100%"></div>
        <div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Tamaño N de la Matriz</label>
              <input type="text" class="form-control" id="inputN4" placeholder="N" [(ngModel)]="newN">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Tamaño M de la Matriz</label>
              <input type="text" class="form-control" id="inputM4" placeholder="M" [(ngModel)]="newM">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Numero Maximo</label>
              <input type="number" class="form-control" id="inputN4" placeholder="Max" [(ngModel)]="maxG">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Numero Minimo</label>
              <input type="number" class="form-control" id="inputM4" placeholder="Min" [(ngModel)]="minG">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Mostrar mas de 100 filas y columnas
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="generarMatriz()">Generar</button>
        </div>
      </div>
      <div #chart>

      </div>
    </div-->
  </div>

  <div class="dropdown-divider"></div>

  <div>
    <h3 class="text-center">Tipos de Ejecucion</h3>
    <div class="content-body text-center">
      <nav aria-label="...">
        <ul class="pagination pagination-lg">
          <span></span>
          <li class="page-item" *ngFor="let implementacion of implementaciones; let i = index" (click)="seleccionarImplementacion(implementacion, i)">
            <a class="page-link">{{implementacion}}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div *ngIf="seleccionado != null">
      <div class="dropdown-divider"></div>

      <div class="content-body">
        <h5 class="card-title">{{implementacion.tipo}}</h5>
        <div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Codigo</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="implementacion.codigo"></textarea>
          </div>
          <br>
          <!--label for="basic-url">Comando de ejecucion:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">$ mpiExecute -n
                <b>&nbsp; 'Y' &nbsp;</b> -machinefile hosts
                <b>&nbsp; matrix_vector_{{componer(implementacion.tipo)}}_{{getFecha()}}</b>
              </span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div-->

        </div>
      </div>

      <!--div class="dropdown-divider"></div>
      <h3 class="text-center">Metricas de Ejecucion</h3-->
    </div>



  </div>
</div>

<div class="actions content-body text-right">
  <button type="button" class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#modal" (click)="guardar()">Guardar</button>
</div>